.header__container {
  position: absolute;
  background-color: white;
  height: 45px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__container-mobile {
  position: absolute;
  background-color: white;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
}

.header__search-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__search-form-mobile {
  position: relative;
}

.header__logo {
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translate(5%, -50%);
}

.header__logo-mobile {
  height: 35px;
}

.header__button {
  margin-left: 8px;
  background-color: #198754;
}

.header__input {
  width: 300px;
}
